.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url(../resources/beer-with-grains-hops.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #222;
  min-height: 400px;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px 1px #333;
}

.App-header h1 {
  font-size: 2.9em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  font-size: 1em;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  margin-left: 5px;
  border: none;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 4px;
  color: #fff;
}

ul li {
  list-style-type: none;
  padding: 30px 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
